*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: "Montserrat", sans-serif;
   font-size: 12px;
   line-height: 130%;
   color: #656363;
}
ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

/***************************************/
.section {
   width: 100%;

   background: #fffae6;
}

.container {
   max-width: 1230px;
   padding: 15px;
   margin: 0 auto;
}

.section__title {
   margin-bottom: 60px;

   font-size: 55px;
   line-height: 1.2;
   text-transform: uppercase;
   color: #000000;
}

.services {
   display: flex;
   flex-wrap: wrap;
}
.services__col-left,
.services__col-right {
   flex: 1 1 50%;
   /* flex-basis: 50%; */
}
.services__list {
}
.services__item {
   /* margin-bottom: 20px; */
   display: flex;
   flex-direction: column;
   padding: 20px 0;
   position: relative;
}
.services__inner {
   display: flex;
}

.services__item::before {
   content: "";
   display: block;
   width: 95%;
   height: 1px;
   left: 0;
   top: 0;
   background: #bebebe;
   position: absolute;
}
.services__item:last-child:after {
   content: "";
   display: block;
   width: 95%;
   height: 1px;
   left: 0;
   bottom: 0;
   background: #bebebe;
   position: absolute;
}
.services__photo {
   max-width: 149px;
   height: 110px;
   margin-right: 40px;
}

.services__header {
   padding-right: 15%;
   min-width: 250px;
}
.services__header-title {
   margin-bottom: 20px;

   font-weight: 700;
   font-size: 16px;
   line-height: 1.2;
   text-transform: uppercase;
   color: #000000;
}

@media (max-width: 1007px) {
   .services__photo {
      margin-right: 20px;
   }
   .services__item::before {
      content: "";
      display: block;
      width: 90%;
      height: 1px;
      left: 0;
      top: 0;
      background: #bebebe;
      position: absolute;
   }
   .services__item:last-child:after {
      content: "";
      display: block;
      width: 90%;
      height: 1px;
      left: 0;
      bottom: 0;
      background: #bebebe;
      position: absolute;
   }
   .services__col-left .services__item:last-child:after {
      content: "";
      display: none;
   }
}
.services__header-link {
}
.services__header-text {
}
